#this_is_my_grid-main-container{
    width: 100%;
    display:grid !important;
    grid-template-columns: 1fr 75px;
    grid-gap: 5px;
    min-height: 50px;

    background-color: lightsalmon;
    border-top: solid 3px darkcyan;
    -webkit-font-smoothing: antialiased;

    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 2147483640;

    font-size: 0.8em;
    font-family: Arial, sans-serif;
}

#this_is_my_bottom_bar{
    border-radius: 7px;
    background-color: lightskyblue;
    margin: 5px;
    padding: 3px;
    overflow: hidden;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
}

#this_is_my_detail_link{
    border-radius: 7px;
    cursor: pointer;
    background-color: lightgreen;
    margin: 5px;
    padding: 3px;
    overflow: hidden;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    background-position-x: center;
}